* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --accent: #7D3DCF;
  --text-dark: #4A4A4A;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: var(--text-dark);
  letter-spacing: 0.03em;
  background-color: #333;
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  width: 375px;
  height: 812px;
  background-color: #fff;
  border-radius: 12px;
  padding: 30px 30px 37px;
}

.chat-area {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.title {
  margin: 0px 0px 17px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

#timestamp {
  margin: 0px 0px 24px 0px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.bot-text {
  padding: 0px 0px 0px 56px;
  margin: 0px 0px 64px 0px;
  position: relative;
  animation: floatup 1s;
}

.bot-text::before {
  content: '';
  display: block;
  width: 36px;
  height: 36px;
  background: url(../img/bot.png) no-repeat;
  background-position: top center;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 0;
}

.bot-text .bot-text__span {
  display: inline-block;
  height: 100%;
  max-width: 85%;
  padding: 17px 20px;
  background: #FFFFFF;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.14);
  border-radius: 10px;
  line-height: 18px;
}

.bot-text .loader-block {
  display: inline-block;
  height: 50px;
  width: 95px;
  padding: 0px 0px 0px 14px;
  background: #ffffff;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.14);
  border-radius: 10px;
  line-height: 50px;
}

.bot-text .loader {
  display: inline-block;
  margin: 0px 7px 0px 0px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--accent);
  animation: loader 0.9s ease-in infinite alternate;
}

.bot-text .loader--left {
  animation-delay: 0s;
}

.bot-text .loader--center {
  animation-delay: 0.45s;
}

.bot-text .loader--right {
  animation-delay: 0.9s;
}

.bot-text .bot-image {
  width: 180px;
  height: 140px;
}

.bot-text .bot-image img {
  display: block;
  max-width: 100%;
  height: auto;
}

@keyframes loader {
  0% {
    background-color: #c4c4c4;
  }
  50% {
    background-color: var(--accent);
  }
  100% {
    background-color: var(--accent);
  }
}

.user-text {
  flex: 0 1 auto;
  padding: 0px 56px 0px 0px;
  margin: 0px 0px 64px 0px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  animation: floatup 1s;
}

.user-text::before {
  content: '';
  display: block;
  width: 36px;
  height: 36px;
  background: url(../img/user.png) no-repeat;
  background-position: top center;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  right: 0;
}

.user-text span {
  display: inline-block;
  height: 100%;
  max-width: 85%;
  padding: 17px 20px;
  color: #fff;
  background: var(--accent);
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.14);
  border-radius: 10px;
  line-height: 18px;
}

.inbut-block {
  margin: 0px -9px 0px;
}

.text-input {
  height: 51px;
  width: 100%;
  padding: 0px 10px 0px 40px;
  background: var(--accent);
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.21);
  border-radius: 20px;
  color: #fff;
  border: 2px solid var(--accent);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  transition: 0.4s ease;
}

.text-input::placeholder {
  color: #fff;
}

.text-input:focus {
  background: #fff;
  color: var(--accent);
}

@keyframes floatup {
  0% {
    transform: translateY(14px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
